.div1{
	width: 5%;
	height: 100px;
	position: fixed;
	top: 200px;
	left: 10px;
}

.div2{
	width: 80%;
	position: relative;
	left: 6%;
}

.div3{
	width: 5%;
	height: 100px;
	position: fixed;
	top: 200px;
	right: 10px;
}