<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContentServlet</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.imooc.ajax.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsListServlet</display-name>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>com.imooc.ajax.NewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/NewsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChannelServlet</display-name>
    <servlet-name>ChannelServlet</servlet-name>
    <servlet-class>com.imooc.ajax.ChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelServlet</servlet-name>
    <url-pattern>/Channel</url-pattern>
  </servlet-mapping>
</web-app>